<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra) Gordon Williams (@espruino)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John & Gordon Williams, United Kingdom, 2016">
  <title>Home | Lasilda</title>
  <meta name="description" content="">

  <link type="text/css" href="styles.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
</head>

<body>
<div class="wrapper page-index">

  <header><h1>Lasilda | Control Lasers</h1></header>

  <section class="preview"><div id="screen"></div></section>

  <section class="playlist">
    <button>Play >></button>

    <ul>
      <li>
        <p>Function One</p>
        <button>Remove</button>
      </li>
      <li>
        <p>Live Web Cam</p>
        <button>Remove</button>
      </li>
      <li>
        <p>User Generated #56</p>
        <button>Remove</button>
      </li>
      <li>
        <p>User Generated #12</p>
        <button>Remove</button>
      </li>
    </ul>
  </section>

  <section class="library">
    <ul class="thumbnails">
      <li>
        <img src="http://placehold.it/300x180" />
        <button>Add</button>
      </li>
      <li>
        <img src="http://placehold.it/300x180" />
        <button>Add</button>
      </li>
      <li>
        <img src="http://placehold.it/300x180" />
        <button>Add</button>
      </li>
      <li>
        <img src="http://placehold.it/300x180" />
        <button>Add</button>
      </li>
      <li>
        <img src="http://placehold.it/300x180" />
        <button>Add</button>
      </li>
    </ul>

  </section>


</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>